# Default values for barkibu
replicaCount: 3

image:
  repository: barkibu
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

resources:
  requests:
    memory: "2Gi"
    cpu: "2000m"
  limits:
    memory: "6Gi"
    cpu: "8000m"

app:
  name: barkibu

frontend:
  image:
    repository: barkibu-frontend
    tag: latest
    pullPolicy: IfNotPresent
  service:
    type: ClusterIP
    port: 80
    nodePort: 30001

postgres:
  image:
    repository: postgres
    tag: 15-alpine
  auth:
    username: ""
    password: ""
    database: ""
  persistence:
    enabled: true
    size: 10Gi
  service:
    port: 5432

# Application environment variables
env: {}

