replicaCount: 1

image:
  repository: barkibu
  tag: latest
  pullPolicy: Never

service:
  type: NodePort
  nodePort: 30000

resources:
  requests:
    memory: "512Mi"
    cpu: "200m"
  limits:
    memory: "1Gi"
    cpu: "1000m"

frontend:
  image:
    repository: barkibu-frontend
    tag: latest
    pullPolicy: Never
  service:
    type: NodePort
    nodePort: 30001

postgres:
  image:
    repository: postgres
    tag: 15-alpine
  auth:
    username: user
    password: password
    database: barkibu
  persistence:
    enabled: false
    size: 1Gi
  service:
    port: 5432

env:
  DATABASE_URL: "postgresql://user:password@postgres-service:5432/barkibu"
  ENVIRONMENT: "development"
